<% provide(:title, "About") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %> | Direct Adventures</title>
  </head>
  <body>
    <h1>About</h1>
    <p>Created by Aidan Danbury, Direct Adventures is an app meant to
      showcase by abilities as a software developer. Its intended goal
      is to act as a choose-your-own-adventure app in which users may
      log in, add pages, and create links to existing pages in order to
      create long, complex, and perhaps collaborative narratives. While
      as of 5/15/2020 it has not achieved some of these functionalities,
      the website does have a compelling home page. A user, upon arriving
      at the website, is confronted with the question "Where do you want
      to go?", with "The Wind" giving a randomized suggestion. The cardinal
      directions are meant to navigate different areas of the site, each
      suggesting different ways to navigate and interact with Direct
      Adventures. Hopefully, these ideas may be improved upon in the
      future.</p>
  </body>
</html>
