<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div class="onleft"><br><br><br>The West</div>
    <div class="onright"><br><br><br>The East</div>
    <div class="center">
      The North<br><br><br>
      Where do you want to go?<br>
      <p>The Wind Blows <%= @s_dir %></p><br><br>
      The South</div>
  </body>
</html>
