<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div class="onleft"><p><br><br><br>The West</p></div>
    <div class="onright"><p><br><br><br>The East</p></div>
    <div class="center">The North<br><br><br>Where do you want to
      go?<br><br><br>The South</div>
  </body>
</html>
