<% provide(:title, "User") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %> | Direct Adventures</title>
  </head>
  <body>
    <h1>User</h1>
    <p>Log in functionality currently unavailable</p>
  </body>
  
</html>
