@import "bootstrap-sprockets";
@import "bootstrap";
@charset "UTF-8";

body {
    background-color:AntiqueWhite;
    padding-top: 150px;
}

header {
    background-color:CadetBlue;
    text-align: center;
}

p {
    color:Crimson;
    font-style: italic;
    
}

.center {
    text-align: center;
}

.onleft {
    position: absolute;
    left: 16px;
}

.onright {
    position: absolute;
    right: 16px;
}

.navbar.navbar-fixed-top.navbar-inverse {
background-color: CadetBlue;
}

#navbar {
	background-color:CadetBlue;
	color: gray;
	height:30px;
	border: 1px solid black;
	margin: 0;
	padding: 0;
}

#navbar ul {
	padding: 0;
	margin: 0;
}

#navbar li {
	list-style: none; 
	font-size: large;
	font-family: 'Merriweather', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	float: left; 
	margin: 0; 
	width: 20%; 

    }
